*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #3498DB;
}

img{
    width: 75%;
}

/* app body */
#app{
    width: 350px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    height: 220px;
    transition: height 0.5s ease;
}

#app .title h2{
    font-size: 34px;
}

#app .title{
    margin-bottom: 20px;
}

#app .form input, button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 8px;
}
#app .form button{
    background-color: #3498DB;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

#app .qr_code{
    border: 1px solid black;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}
/* app body end*/


/* footer */
footer{
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}
/* footer end */